:root {
   --color-white: #FFFFFF;
   --color-accent-dark: #5a165a;
   --color-accent-light: #dcafef;
   --color-base-text: #32292f;
   --background-gradient: linear-gradient(90deg, rgba(222, 176, 239, 0.3), #E6F1FC);
   

   --border-radius-large: 12px;
   --border-radius-small: 8px;


   --text-font-family-base: 'Nunito', Arial, Helvetica, sans-serif;
   --text-body-size: 16px;

   --max-width-content: 1222px;
   --padding-content-inline: 20px;
   --padding-section: 80px;
  }